{% extends "base.html" %} {% block content %}

<div class="login-root">
    <!-- <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="age" class="upload-label" required>
            Age
        </label>
        <input type="number" name="age" id="age" required>
        <label for="Name" class="upload-label">
            Name
        </label>
        <input type="text" name="Name" id="Name" required>
        <label for="email" class="upload-label">
            EmailId
        </label>
        <input type="email" name="email" id="email" >
        <label for="dr" class="upload-label">
            Name of dr
        </label>
        <input type="text" name="dr" id="dr">


        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>


    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3> -->

    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;"> 
        <!-- <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1>Pneumonia Prediction</h1>
        </div> -->
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">

            <form id="upload-file" method="post" enctype="multipart/form-data">
                    
              <!-- <form id="stripe-login"> -->
                <div class="field padding-bottom--24">

                   
                        <label for="age" class="upload-label" required>Age</label>
                        <input type="number" name="age" id="age" required>
                </div>

               <div class="field padding-bottom--24">
                  <!-- <div class="grid--50-50"> -->
                    <label for="Name" class="upload-label">
                        Name
                    </label>
                    <input type="text" name="Name" id="Name" required>
                </div>
               
                <div class="field padding-bottom--24">
                    <label for="email" class="upload-label">
                        EmailId
                    </label>
                    <input type="email" name="email" id="email" >
                </div>
                
                <div class="field padding-bottom--24">
                <label for="dr" class="upload-label">
                    Name of dr
                </label>
                <input type="text" name="dr" id="dr">
                </div>


                <div class="field padding-bottom--24">
                <label for="imageUpload" class="upload-label">
                    Choose...
                </label>
                <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
               </div>
               
               <div class="field padding-bottom--24">
            <div class="image-section">
                <div class="img-preview">
                    <div id="imagePreview">
                    </div>
                </div>
                </div>


                <div>
                    <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
                </div>
            </div>
        
        
            <div class="loader" style="display:none;"></div>
        
            <h3 id="result">
                <span> </span>
            </h3> 

        
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}